/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


#zone-footer-wrapper { 
	background-image:  url(img/footer-bg.png) ;
	color: #FFF;
	border-top: 10px solid #00538f;
	border-image: url(img/footer-bg-andresider.png) 9 0 0 0 repeat;		}
	
.page-andre-sider #zone-footer-wrapper {
	border-top: 10px solid #00538f;
	border-image: url(img/footer-bg-andresider.png) 9 0 0 0 repeat;	
}
	
#zone-footer a { 
	color: #fff; 
	text-decoration: none;
	}
	
#zone-footer li { 
	margin-left: 0; 
	padding-left: 0; 
	list-style: none;

