/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */

html {
	overflow: -moz-scrollbars-vertical; 
	overflow-y: scroll;}

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
	box-shadow: none;
	z-index: 1;}
body  {
	color: #272727;
	font-size: 12px; 
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;	
	}
h1, h2, h3, h4, h5, h6 {
	letter-spacing: -0.05em;
	font-weight: normal;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	margin-bottom: 5px;
	}	
a:link, a:visited, a { color: #407DAA;
	}
	
#zone-footer-wrapper { 
	background-image:  url(img/footer-bg.png) ;
	color: #FFF;
	border-top: 10px solid #00538f;
	border-image: url(img/footer-bg-andresider.png) 9 0 0 0 repeat;		}
	
.page-andre-sider #zone-footer-wrapper {
	border-top: 10px solid #00538f;
	border-image: url(img/footer-bg-andresider.png) 9 0 0 0 repeat;	
}
#zone-footer a { 
	color: #fff; 
	text-decoration: none;
	}
#zone-footer li {
	margin-left: 0; 
	padding-left: 0; 
	list-style: none; }
	
body.responsive-layout-mobile { padding-top: 0 !important}
.responsive-layout-mobile li.expanded, 
.responsive-layout-mobile li.collapsed,
.responsive-layout-mobile li.leaf { padding: 0 0 0 0;}
.responsive-layout-mobile img { max-width: 100%; height: auto}
.responsive-layout-mobile .breadcrumb { padding: 0; margin: 0;}
.responsive-layout-mobile .not-mobile,
.responsive-layout-mobile #qt-mobil_top-ui-tabs1,
.responsive-layout-mobile .vegas-background, 
.responsive-layout-mobile .vegas-overlay,
.responsive-layout-mobile .vegas-loading,
.responsive-layout-mobile .background-images,
.responsive-layout-mobile .goto-wrapper,
.responsive-layout-mobile #region-branding,
.responsive-layout-mobile #region-user-first, 
.responsive-layout-mobile #region-footer-second,
.responsive-layout-mobile #block-feedback-form,
.responsive-layout-mobile #section-header,
.responsive-layout-mobile .block-views-sitestuktur-block-3,
.responsive-layout-mobile #region-content .tabs,
.responsive-layout-mobile #region-content .sidetitel h1,
.responsive-layout-mobile #region-content .del-udskriv,
.responsive-layout-mobile #toolbar,
.responsive-layout-mobile #block-views-sitestuktur-block-2 { display: none !important;}
.responsive-layout-mobile .view-spotboxe .spotwrapper { }
.responsive-layout-mobile .view-spotboxe .views-row { float: left; width: 50%; margin: 0 0}
.responsive-layout-mobile .view-spotboxe .views-row.views-row-odd { clear: both}
.responsive-layout-mobile .view-spotboxe .views-row.views-row-odd .spotwrapper { margin-right: 5px ;display: block;}
.responsive-layout-mobile .view-spotboxe .views-row.views-row-even .spotwrapper { margin-left: 5px; display: block;}
.responsive-layout-mobile h2.pane-title { font-size: 16px;}
.responsive-layout-mobile #region-sidebar-first li { display: block !important; float: none; margin: 0 !important; list-style: none; }
.responsive-layout-mobile #region-sidebar-first li a { text-decoration: none; display: block;font-size: 1.15em; border-bottom: 1px solid #333; line-height: 1.8em; padding: 0 5px; }
.responsive-layout-mobile #region-sidebar-first .breadcrumb li a { border-bottom: none }

.responsive-layout-mobile #region-sidebar-first li a.active { background-color: #000; color: #FFF; font-size: 1.35em; line-height: 1.4em}
.responsive-layout-mobile #region-sidebar-first #breadcrumb li {
	display: list-item !important;
	list-style-position: inside !important;
	list-style-type: disc !important;
	list-style-image: url(img/ikon-larger.png) !important;
	border-bottom: none; 
}
.responsive-layout-mobile.page-node #region-sidebar-first .menu-name-menu-indhold  ul li { display: none !important}
.responsive-layout-mobile.page-node #region-sidebar-first .menu-name-menu-indhold  ul li.active { display: block !important}

.responsive-layout-mobile #region-sidebar-first .menu li.active ul li {display: list-item !important;
	list-style-position: inside !important;
	list-style-type: disc !important;
	list-style-image: url(img/ikon-green-dot.png) !important; }
.responsive-layout-mobile #region-sidebar-first .menu li.active ul li.collapsed { list-style-image:	url(img/ikon-green-larger.png) !important;}	

.responsive-layout-mobile #region-sidebar-first .block-menu-block h2.block-title,
.responsive-layout-mobile #region-sidebar-first #breadcrumb li.depth-1.odd.first { display: none !important}
.responsive-layout-mobile #region-sidebar-first #breadcrumb a { color: #333; font-size: 10px;}
#block-menu-menu-mobil-top li { width: 33%; padding: 0 0 0 0; margin: 0 5px 0 0 ; float: left !important; display: block; border: none; }
#block-menu-menu-mobil-top li a { display: block; float: left; background-color: blue; color: #FFF; padding: 5%; width: 90%}
#block-menu-menu-mobil-top li.first a { background-color: green;}
#block-menu-menu-mobil-top li.last a { background-color: red; }

.spotbox-row img { 
	width: 100%; height: auto;
	}

.spotbox-row .spotbox_right img { 
	max-width: 230px;
	max-height: 115px;
	}

.spotwrapper { 
    height: 207px;
	padding: 5px;
	display: block;
	margin-bottom: 10px;
	background-image: url(img/c-bg.png);
	}
	
.show-links {
  background: url('img/spotbox-sprite.png') no-repeat scroll 0 -3px ;
  height: 31px;
  width: 31px;
  position: absolute;
  z-index: 90;
  cursor: pointer;
}

.show-links.open{
background: url('img/spotbox-sprite.png') no-repeat scroll -37px -3px;
}

.spotbox .item-list{
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  height: 148px;
  width: 210px;
  overflow: hidden;
  border-bottom: 5px solid #efbe02;
}

.spotbox .item-list ul {
  padding-top: 10px;
}
.spotbox .item-list ul li {
  margin: 0 0 0 11px;
  height: 13px;
  padding: 0 0 9px;
  overflow: hidden;
}
.spotbox .item-list a {
  background: url('img/ikon-gul-3omv.png') no-repeat scroll 0 2px;
  padding-left: 17px;
  color: #2d2d2b;
  text-decoration: none;
  font-size: 13px;
}

.spotbox .border {
  height: 9px;
}
.spotbox .border.selvbetjening {
  background: url('img/lineYellow.png');
}
.spotbox .border.term-4 {
  background: url('img/lineGreen.png');
}
.spotbox .border.term-5 {
  background: url('img/lineBlue.png');
}
.spotbox .border.term-6 {
  background: url('img/lineRed.png');
}
.spotbox .text {
height: 58px;
padding: 5px 8px 0;
margin: 0;
background: url('img/andresider-listebg.png');
}
.spotbox .text a{
  color: #272727;
  text-decoration: none;
}
.spotbox .goto {
  width: 31px;
  height: 31px;
  display: block;
  position: absolute;
}
.spotbox .goto.term-4 { background: url('img/spotbox-sprite.png') no-repeat scroll -74px -3px; }
.spotbox .goto.term-5 { background: url('img/spotbox-sprite.png') no-repeat scroll -111px -3px; }
.spotbox .goto.term-6 { background: url('img/spotbox-sprite.png') no-repeat scroll -149px -3px; }

.spotbox .show-links-wrapper,
.spotbox .goto-wrapper {
  position: relative;
  top: -10px;
  right: 36px;
  float: right;
}

.spotbox .pane-title {
  overflow: hidden;
}
.spotbox .pane-title a {
  color: white;
  text-decoration: none;
}

.spotbox .spotbox_no_picture {
  height: 106px;  
}
/* <-- spotbox portal */
