/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */


button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
	-moz-box-shadow:none;
	-webkit-box-shadow: none;
	box-shadow: none;
	z-index: 1;
	}

body  {
	background-color: #faf9f7;
	color: #474545;
	font-size: 12px; 
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	}
	
a { color: #000;
	}
.logo-img {
	margin-top: 15px;
	margin-left: 5px;
	}
.page {
	background-image: url( img/top-blue.png); 
	background-repeat: repeat-x;
	}
	
#zone-branding { 
	background-color: transparent;
	background-image: url(img/top-u-logo.png);
	background-repeat: no-repeat;
	}
	
h1, h2, h3, h4, h5, h6 {
	letter-spacing: -0.05em;
	font-weight: normal;
	font-family: 'Trebuchet MS', Helvetica, sans-serif;
	}

h1 { 
	font-size: 25px;
	}
	
h1#page-title {
	padding-top: 15px;
	padding-left: 15px;
	padding-bottom: 0;
	margin-bottom: 10px;
}
	
h2 { 
	font-size: 20px; 
	}
#region-sidebar-first ul.menu li a {
	color: #1f1f1f;
	}
	
#region-sidebar-first ul.menu li a.active {
	font-weight: bold;
}

#region-sidebar-first ul.menu li {
	padding: 0 0 7px 12px;
	margin-left: 0;
	margin-top: 7px;
	border-bottom: 1px solid #dbdbdb;
	list-style: none;
	background-image:  url(img/ikon-green-larger.png);
	background-repeat: no-repeat;
	background-position: left 5px;
	font-size: 14px;
	}
#region-sidebar-first ul.menu li.expanded {
	background-image: url(img/ikon-green-down.png);
	background-position: left 8px;
	}

#region-sidebar-first ul.menu li ul li {
	border-bottom: none;
	padding: 0 0 2px 12px;
	margin-top: 2px;
	font-size: 12px;
	background-image: url(img/ikon-green-dot.png);
	background-position: left 6px;
}

#region-sidebar-first ul.menu li ul li.first {
	margin-top: 5px;
}

#region-sidebar-first li.active-trail a {
	color: #000:
}

#region-branding { 
	height: 170px;
	}
	
#region-user-first { 
	height: 70px;
	}
	
.front #region-footer-second {
	display: none;
}

#region-header-second { 
	height: 30px;
	padding-bottom: 30px;
	}

#region-user-first ul.menu , 
#region-header-second ul.menu { 
	text-align: right
	}

#region-user-first ul.menu {
	padding-top: 5px;
}

.fedbackogminside {
	margin-left: 15px;
}
	
#region-user-first a, 
#region-header-second a { 
	color: #FFF;
	text-decoration: none;
	border-left: 1px solid #FFF;
	padding-left: 10px;
	margin-left: 10px;
	}
#region-user-first li, 
#region-header-second li {
	margin: 0;padding: 0;
}
#region-user-first li.first a, 
#region-header-second li.first a { 
	padding-left: 0;
	margin-left: 0;
	border-left: none;
	}
	
#region-user-first .block {
	float: right;
}
	
#zone-branding ul.menu li { 
	display: inline; 
	list-style: none;
	}

#zone-footer-wrapper { 
	border-top: 10px solid #68b63c; 
	background-image:  url(img/footer-bg.png) ;
	color: #FFF;
	border-image: url(img/footer-border-top.png) 9 0 0 0 repeat;
	}
	
#zone-footer a { 
	color: #fff; 
	text-decoration: none;
	}
	
#zone-footer li { 
	margin-left: 0; 
	padding-left: 0; 
	list-style: none;
	}

.panels-flexible-region-new-center { 
	width: 100%;
	}

ul#main-menu { 
	margin: 0;
	padding: 0;
	}
	
ul#main-menu li { 
	display: block; 
	float: none; 
	margin-left: 10px;
	margin-right: 10px;
	padding: 0;}

ul#main-menu li.first {
	margin-left: 0;
	padding-left: 0; 
	}
	
ul#main-menu li.last {
	margin-right: 0;
	padding-right: 0;
	}

ul#main-menu li a {  
	display: block;
	padding: 16px 16px 16px 50px;
	background-repeat: no-repeat; 
	color: #FFF; 
	text-decoration: none; 
	font-size: 22px;
	}
 
ul#main-menu li.menu-782 a {
	background-image: url(img/portalknap-borger.png);
	}

ul#main-menu li.menu-783 a {
	background-image: url(img/portalknap-erhverv.png);
	}

ul#main-menu li.menu-784 a {
	background-image: url(img/portalknap-politik.png);
	}
	
.breadcrumb ul {
	}
	
ul.breadcrumb {
	margin-bottom: 0;
	padding-bottom: 0;
	}
	
.breadcrumb li {
	display: list-item;
	list-style-position: inside;
	list-style-type: disc;
	list-style-image: url(img/ikon-larger.png);
	}
	

#region-sidebar-first, .page-node #region-content {
	background-image: url(img/c-bg.png);}
	
#region-sidebar-first a { 
	color: #000;
	text-decoration: none;
	}

#zone-content { 
	padding-top: 20px;
	}
	
.page-node #region-content .block-inner { 
	padding: 15px;
	}
	
#region-sidebar-first .menu-block-wrapper {
	padding: 10px;
	}
	
#breadcrumb {
	padding: 10px
	}


.front #search-block-form {
	padding: 5px;
	background: none repeat scroll 0 0 rgba(61, 142, 199, 0.8);

}

#search-block-form { 
	height: 44px;
	padding: 0 0 0 10px;
	background-repeat: no-repeat;
	padding: 5px;
	}

#search-block-form input[type="submit"] {
	overflow: visible;
	padding: 0;
	margin: 0;
	width: 49px;
	height: 45px;
	outline: 0;
	border: none;
	border-color: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: transparent url(img/search.png) no-repeat;
	color: #333;
	text-shadow: none;
	font: bold 12px/1.2 Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	}

#search-block-form input[type="text"] {
	height: 47px;
	width: 554px;
	font-size: 20px;
	margin-right: 0;
	padding-right: 0;
	border: none;
	background-image: url(img/search-bg.png);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 10px;
	float: left;
	}
	
.front .region-header-first-inner { 
	padding-left: 80px 
	}

.front #search-block-form {

	background: none repeat scroll 0 0 rgba(61, 142, 199, 0.8);

}	

.front #search-block-form input[type="text"] {
	width: 480px;
	}


.rel-register-link a { 
	display: none
	}

.qtip-cmstheme { background-color: #fff}

.front #zone-header-wrapper, #block-superfish-2 { display: none}

#block-feedback-form {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	overflow: hidden;
	z-index: 10;
	top: 0;
	margin-right: 0;
	}

.grid-9 .views-row-1.grid-3, 
.grid-9 .views-row-4.grid-3, 
.grid-9 .views-row-7.grid-3, 
.grid-9 .views-row-10.grid-3, 
.grid-9 .views-row-13.grid-3,
.grid-9 .views-row-16.grid-3,
.grid-9 .views-row-19.grid-3,
.grid-9 .views-row-22.grid-3 { 
	margin-left: 0
	}
	
.grid-9 .views-row-3.grid-3,
.grid-9 .views-row-6.grid-3,
.grid-9 .views-row-9.grid-3,
.grid-9 .views-row-12.grid-3,
.grid-9 .views-row-15.grid-3,
.grid-9 .views-row-18.grid-3,
.grid-9 .views-row-21.grid-3,
.grid-9 .views-row-24.grid-3 {
	margin-right: 0
	}
	
.spotbox-row img { 
	width: 100%
	}

.spotbox-row .spotbox_right img { 
	max-width: 230px;
	max-height: 115px;
	}

.spotwrapper { 
	padding: 5px;
	display: block;
	margin-bottom: 10px;
	background-image: url(img/c-bg.png);
	}
	
.menu-minipanels .grid-3 .inside { 
	padding: 20px;
	}

.menu-minipanels h2.pane-title { 
	font-size: 14px; 
	font-weight: bold;
	margin-bottom: 5px;
	}
	
.grid-3 .spotwrapper h2.pane-title {
	background-image: url(img/spot-title-yellow.png);
	height: 28px;
	font-size: 14px;
	padding: 5px 10px;
	margin: 0;
	color: #FFF;
	}


/*Slideshow backgground on the frontpage */
#views_slideshow_pager_field_item_bottom_aktuelt-panel_pane_3_0 .views-slideshow-pager-field-item {
  width: 10px;
  height: 10px;
}

#widget_pager_bottom_aktuelt-panel_pane_3 .views-slideshow-pager-field-item.active {
  background: none repeat scroll 0 0 transparent;
    height: auto;
    width: auto;
}

#widget_pager_bottom_aktuelt-panel_pane_3 .views-slideshow-pager-field-item  {
  background: none repeat scroll 0 0 transparent;
    float:left;
    height: auto;
    width: auto;
}
#widget_pager_bottom_aktuelt-panel_pane_3 .views-slideshow-pager-field-item.active i.bullet {
  background: url('../images/slideshow-buttons.png') no-repeat scroll -20px 0;
}

#widget_pager_bottom_aktuelt-panel_pane_3 .views-slideshow-pager-field-item i.bullet {
  background: url('../images/slideshow-buttons.png') no-repeat scroll -10px 0;
  width: 10px;
  height: 9px;
  display:block;
  margin: 0 3px 0 0;
}
#widget_pager_bottom_aktuelt-panel_pane_3 i.previous-arrow {
  background: url('../images/slideshow-buttons.png') no-repeat scroll 0 0;
  display: block;
  width: 10px;
  height: 9px;
}
#widget_pager_bottom_aktuelt-panel_pane_3 i.next-arrow {
  background: url('../images/slideshow-buttons.png') no-repeat scroll -30px 0;
  display: block;
  width: 10px;
  height: 9px;
}
.slideshow-next, 
.slideshow-previous {
  float:left;
  margin: 0 3px 0 0;
}
.slideshow-previous {margin: 0 0 0 213px;}
#widget_pager_bottom_aktuelt-panel_pane_3 {
  border-top: 2px solid #FFF;
  padding: 13px 0 0 0;
  width: 275px;
}

#views_slideshow_cycle_main_aktuelt-panel_pane_3 {
    width: 300px;
}
.views-slideshow-controls-text.views_slideshow_controls_text,
.background-images {display: none}
.views-field.views-field-field-resume-long {
    margin: 20px 0 0;
}
.views-field-field-resume-long .field-content {
    color: #FFFFFF;
    font-size: 20px;
}
#views_slideshow_cycle_main_aktuelt-panel_pane_3 .views-field-title .field-content {
    font-size: 50px;
    }

.Borger span {
    background: none repeat scroll 0 0 rgba(95, 157, 65, 0.8);
    }

.Politik-amp-planer span {
    background: none repeat scroll 0 0 rgba(197, 56, 56, 0.8);
    }
.Erhverv span{
    background: none repeat scroll 0 0 rgba(61, 142, 199, 0.8);
    }

.views-field-title .field-content a{
    color: #FFFFFF;
  }
/*Slideshow backgground on the frontpage */

/*Breaking news on frontpage*/
.view-id-aktuelt.view-display-id-panel_pane_6 .views-label {
	float: left;
	}
	
.view-id-aktuelt.view-display-id-panel_pane_6 {
	background: #ecc73e;
	background-image: url(img/breaking-bg.png);
	line-height: 29px;
	font-size: 13px;
	}
	
.view-id-aktuelt.view-display-id-panel_pane_6 .views-row {
	float: left; 
	margin: 0 20px;
	}
	
.view-id-aktuelt.view-display-id-panel_pane_6 .views-label.views-label-title,
.view-id-aktuelt.view-display-id-panel_pane_6 .field-content a, 
.view-id-aktuelt.view-display-id-panel_pane_6 .field-content  {
	color: #323232;
	font-size: 14px; 
	text-decoration: none;
	}
	
.view-id-aktuelt.view-display-id-panel_pane_6 .views-label.views-label-title { 
	font-weight: bold;
	padding-right: 5px;
	}


/*Breaking news on frontpage*/

.megamini .panel-panel .inside { 
	background-color: #FFF;
	border-top-left-radius:  5px;
	border-top-right-radius:  5px;
    }

.megamini .panel-panel .inside  h2.pane-title { 
	padding: 10px 10px 10px 50px; 
	color: #FFF;
	height: 31px; margin: 0;
	text-transform: uppercase;
	}
	
	
.megamini .panel-panel .inside .pane-content h2.pane-title { 
	padding: 50px 10px 10px 10px; 
	font-size: 12px; 
	color: #FFF; 
	height: 24px;
	background-repeat: no-repeat;
	width: 131px;
	}
	
.megamini .panel-panel .inside .pane-content h2.pane-title a {
	color: #FFF;
	}
	
.megamini .panel-panel .inside .pane-content .pane-menu-block-8 h2.pane-title {
	background-image: url(img/menu-mini-borger.png);
	text-transform: none;
	}
	
.megamini .panel-panel .inside .pane-content .pane-selvbetjening h2.pane-title {
	background-image: url(img/sb-mini-borger.png);
	}

.megamini .panel-region-stack1,
.megamini .panel-region-stack2,
.megamini .panel-region-stack3 {
	padding: 5px;
	margin-bottom: 20px;
}

.megamini .panel-region-stack1 {
    background: none repeat scroll 0 0 rgba(95, 157, 65, 0.8);
    }
     
.megamini .panel-region-stack2 {
    background: none repeat scroll 0 0 rgba(61, 142, 199, 0.8);
    }
    
.megamini .panel-region-stack3 {
    background: none repeat scroll 0 0 rgba(197, 56, 56, 0.8);
    }

.megamini .panel-region-stack1  h2.pane-title { 
	background-image: url(img/minibar-borger.png);
	background-repeat: no-repeat;
	}

.megamini .panel-region-stack2  h2.pane-title { 
	background-image: url(img/minibar-erhverv.png);
	background-repeat: no-repeat;
	}

.megamini .panel-region-stack3  h2.pane-title { 
	background-image: url(img/minibar-politik.png);
	background-repeat: no-repeat;
	}
	
.megamini ul.quicktabs-tabs li a { 
	font-weight: normal
	}

.megamini .panel-region-stack1  ul.quicktabs-tabs li a { 
	color: #50942f;
	}
	
.megamini .panel-region-stack2  ul.quicktabs-tabs li a { 
	color: #50942f;
	}
	
.megamini .panel-region-stack3  ul.quicktabs-tabs li a { 
	color: #50942f;
	}
	
.megamini .panel-region-stack1 .overlay {
	background-image: url(img/minibar-stor-nyhed-borger-bg.png);
}

.megamini .panel-region-stack2 .overlay {
	background-image:url(img/accordion_blue_bg_large.png);
}

.megamini .panel-region-stack3 .overlay {
	background-image: url(img/accordion_red_bg_large.png);
}
	
.megamini ul.quicktabs-tabs li.active a { 
	color: #2a2a2a;
	}

.megamini .pane-content { 
	color: #888;
	font-size: 12px;
	}

.megamini ul.quicktabs-tabs { 
	background-image: url(img/minibar-tabs.png);
	background-repeat: no-repeat;
	height: 25px; 
	margin-bottom: 0;
	width: 100%;
	font-size: 14px;
	padding-top: 2px;
	padding-left: 0;
	}
	
.megamini ul.quicktabs-tabs li { 
	padding-left: 0;
	margin-left: 15px;
	margin-right: 5px;
	}



.megamini .quicktabs_main { 
	padding: 10px 10px 10px 15px;
	background-image: url(img/minibar-footer-bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	}
	
.megamini .pane-content a { 
	color: #000; 
	font-weight: bold; 
	text-decoration: none;
	}
	
#mini-panel-forside_mini_borger h2 { 
	background-color: green;
	}

.megamini .view-id-aktuelt.view-display-id-panel_pane_5 .views-row {
	background-image: url(img/ikon-green-larger.png);
	background-repeat: no-repeat;
	background-position: left 5px;
	padding-left: 10px;
	padding-bottom: 10px;
}

.col2-1-3 {}
.col2-1-3 .panel-region-col1, 
.col2-1-3 .panel-region-col2 { 
	float: left;
	}

.col2-1-3 .panel-region-col1 { 
	width: 316px;
	}

.col2-1-3 .panel-region-col2 { 
	width: 170px;
	margin-left: 10px;
	}


.megamini .view-id-aktuelt .overlay {
	position: absolute;
	top: 159px;	
	padding: 10px;
	height: 64px;
	overflow: hidden;
	color: #FFF;
	width: 296px;
	}

.megamini .view-id-aktuelt .overlay a {
	color: #FFF;
	font-weight: normal;
	}

.megamini .view-id-aktuelt .overlay .title {
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
	}

.megamini .view-id-aktuelt .overlay .text {
	display: block;
	font-size: 12px;
	}
	
.megamini .view-id-aktuelt .panel-region-col2 { 
	width: 160px; 
	margin-left: 10px;
	}
	
.megamini .view-id-aktuelt .panel-region-col2 .views-row { 
	background-image: url(img/ikon-green-larger.png);
	background-repeat: no-repeat;
	padding-left: 15px;
	background-position: 0 5px;
	}
	
.megamini ul li { 
	list-style-image:url(img/ikon-green-larger.png); 
	margin-left: 15px 
	}

.megamini .view-selvbetjening ul li { 
	list-style-image:url(img/ikon-gul-3omv.png); 
	}
	
.megamini ul li a { 
	font-weight: normal !important;
	}
	
.megamini .panel-region-stack1 ul.menu a:hover { 
	color: #316916;
	}

.selvbetjening-megamenu .view-header { 
	display: none
	}

.fedbackogminside a {
	display: inline-block;
	width: 113px;
	height: 30px;
	background-repeat: no-repeat;
	border-left: none !important;
	text-indent: -99999px;
	margin-left: 0 !important;
	padding-left: 0 !important ;
	}
	
.fedbackogminside a.minside {
	width: 104px;
} 
.fedbackogminside a.feedback { 
	background-image: url(img/ikon-feedback.png);
	}
	
.fedbackogminside a.minside { 
	background-image: url(img/ikon-minside.png);
	}


/*
 * Toggle panels on frontpage
 */
.toggle-panel {
  background: url('../images/plus.png') no-repeat scroll 15px 15px;
  height: 14px;
  position: relative;
  top: -46px;
  width: 14px;
  cursor: pointer;
  right: 3px;
  padding: 15px;
  float: right;
}

