/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

#zone-footer .pane-menu-block-8, #zone-footer .pane-menu-block-9, #zone-footer .pane-menu-block-10, #zone-footer .pane-selvbetjening { width: 220px !important;}

.menu-minipanels .container-12 { width: auto}

.panels-flexible-region { width: 100%;}
#mini-panel-odsherred_borger {
	background-image: url(img/megadd-bg-borger.png);
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: transparent;
}

#mini-panel-odsherred_borger .inner-wrapper {
	background-image: url(img/megadd-contentbg-borger.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	width: 930px;
	background-size: 100%;
	margin-left: 5px;
	background-color: #FFF;
	}

#mini-panel-odsherred_borger .inner {
	background-image: url(img/megadd-topbg-borger.png);
	background-position: center top;
	background-repeat: no-repeat;
}

#mini-panel-odsherred_erhverv {
	background-image: url(img/megadd-transpbg-erhverv.png);
	background-repeat: repeat;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: transparent;
}
#mini-panel-odsherred_erhverv .inner-wrapper {
	background-image: url(img/megadd-contentbg-erhverv.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	width: 930px;
	background-size: 100%;
	margin-left: 5px;
	background-color: #FFF;
}

#mini-panel-odsherred_erhverv .inner {
	background-image: url(img/megadd-topbg-borger.png);
	background-position: center top;
	background-repeat: no-repeat;
}

#mini-panel-odsherred_politik {
	background-image: url(img/megadd-transpbg-politik.png);
	background-repeat: repeat;
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: transparent;
}
#mini-panel-odsherred_politik .inner-wrapper {
	background-image: url(img/megadd-contentbg-politik.png);
	background-position: center bottom;
	background-repeat: no-repeat;
	width: 930px;
	background-size: 100%;
	margin-left: 5px;
	background-color: #FFF;
}

#mini-panel-odsherred_politik .inner {
	background-image: url(img/megadd-topbg-borger.png);
	background-position: center top;
	background-repeat: no-repeat;
}

.menu-minipanels .panel-region-kol1, .menu-minipanels .panel-region-kol3, .menu-minipanels .panel-region-kol4 {
	width: 220px
}
.menu-minipanels .panel-region-kol2 { display: block} 

.region-menu {
	height: 64px;
	margin-bottom: 10px;
}

.search-form .form-actions input { margin-right: 0}

.front #search-block-form {
	padding: 5px;
	background: none repeat scroll 0 0 rgba(61, 142, 199, 0.8);
}

#search-block-form { 
	height: 44px;
	padding: 0 0 0 10px;
	background-repeat: no-repeat;
	padding: 5px;
	}

#search-block-form input[type="submit"] {
	overflow: visible;
	padding: 0;
	margin: 0;
	width: 49px;
	height: 45px;
	outline: 0;
	border: none;
	border-color: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: transparent url(img/search.png) no-repeat;
	color: #333;
	text-shadow: none;
	font: bold 12px/1.2 Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	}