/* This file will hold styles for all layouts using the alpha grid (i.e. not the mobile layout). */

#zone-footer .pane-menu-block-8, #zone-footer .pane-menu-block-9, #zone-footer .pane-menu-block-10, #zone-footer .pane-selvbetjening { width: 220px !important;}

.menu-minipanels .container-12 { width: auto}
.menu-minipanel-784 {
	background-image: url(img/megadd-transpbg-politik.png);
}

.menu-minipanel-784 .panel-display {
	background-image: url(img/megadd-contentbg-politik.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

#mini-panel-odsherred_borger {
	background-image: url(img/megadd-bg-borger.png);
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: transparent;
}

#mini-panel-odsherred_borger .inner-wrapper {
	background-image: url(img/megadd-contentbg-borger.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

#mini-panel-odsherred_borger .inner {
	background-image: url(img/megadd-topbg-borger.png);
	background-position: center top;
	background-repeat: no-repeat;
}

#mini-panel-odsherred_erhverv {
	background-image: url(img/megadd-bg-erhverv.png);
	padding-bottom: 5px;
	padding-top: 5px;
	background-color: transparent;
}

#mini-panel-odsherred_erhverv .inner-wrapper {
	background-image: url(img/megadd-contentbg-erhverv.png);
	background-position: center bottom;
	background-repeat: no-repeat;
}

#mini-panel-odsherred_erhverv .inner {
	background-image: url(img/megadd-topbg-erhverv.png);
	background-position: center top;
	background-repeat: no-repeat;
}

.region-menu {
	height: 64px;
	margin-bottom: 10px;
}