/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
 
 #zone-footer .pane-menu-block-8, #zone-footer .pane-menu-block-9, #zone-footer .pane-menu-block-10, #zone-footer .pane-selvbetjening { width: 160px !important;}
 
 ul#main-menu { 
	margin: 0;
	padding: 0;
	}
	
ul#main-menu li { 
	margin-left: 10px;
	margin-right: 10px;	
	display: block; 
	float: left;
	width: 220px;
	padding: 0;}

ul#main-menu li.first {
	margin-left: 0;
	padding-left: 0; 
	}
	
ul#main-menu li.last {
	margin-right: 0;
	padding-right: 0;
	}

ul#main-menu li a {  
	display: block; 
	font-size: 15px; 
	color: #FFF; 
	text-decoration: none;
	padding: 16px 16px 16px 50px;
	background-repeat: no-repeat;
	}
 
ul#main-menu li.menu-782 a {
	background-image: url(img/portalknap-borger.png);
}

ul#main-menu li.menu-783 a {
	background-image: url(img/portalknap-erhverv.png);
}

ul#main-menu li.menu-784 a {
	background-image: url(img/portalknap-politik.png);
}

.node-type-contentpage .field-slideshow-slide { width: 510px;}


#search-block-form input[type="text"] {
	width: 400px;
	}
	
.qtip-cmstheme{ width: 700px !important}

.front #search-block-form {
	padding: 5px;
	background: none repeat scroll 0 0 rgba(61, 142, 199, 0.8);

}

#search-block-form { 
	height: 44px;
	padding: 0 0 0 10px;
	background-repeat: no-repeat;
	padding: 5px;
	}

#search-block-form input[type="submit"] {
	overflow: visible;
	padding: 0;
	margin: 0;
	width: 49px;
	height: 45px;
	outline: 0;
	border: none;
	border-color: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	background: transparent url(img/search.png) no-repeat;
	color: #333;
	text-shadow: none;
	font: bold 12px/1.2 Arial, sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	-moz-background-clip: padding;
	-webkit-background-clip: padding;
	}

#search-block-form input[type="text"] {
	height: 47px;
	width: 400px;
	font-size: 20px;
	margin-right: 0;
	padding-right: 0;
	border: none;
	background-image: url(img/search-bg.png);
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-left: 10px;
	float: left;
	}
	
.region-menu {
	height: 53px;}
	
#mini-panel-odsherred_borger .inner, #mini-panel-odsherred_erhverv .inner, #mini-panel-odsherred_politik .inner { background-image: none !important; background: #FFF }

.menu-minipanels .grid-3.panel-region-kol1 .inside {
padding: 10px 5px 10px 15px;
}

.menu-minipanels .view-spotbox-megadd, .menu-minipanels .pane-tagadelic-view  { display: none}

.menu-minipanels #mini-panel-odsherred_borger .panel-region-kol1 h2.pane-title { background: none; height: auto}